{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background-color: #62a60a;color: white">
                <!-- 首页 -->
                <div class="navbar-header" style="margin-left: 8%">
                    <a class="navbar-brand" href="{% url 'home' %}"  style="color: white">首页</a>
                </div>
                <!-- 登录 -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 8%;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                浏览记录<span class="caret"></span></a>
                            <ul class="dropdown-menu hideInfo">
                                {% for read in read_history %}
                                    <li style="font-size: 12px">
                                        <a href="{% url 'get_novel_detail' read.book.pk %}" style="font-size: 14px;font-weight: bold">
                                            《{{ read.book.book_name }}》
                                        </a><br>
                                        最近浏览：
                                        <a href="{% url 'get_chapter_content' read.chapter.insert_num %}">
                                            章节目录&nbsp;&nbsp;{{ read.chapter.title|truncatechars:15 }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <p>*提示：浏览记录仅放置最近浏览的10本书籍</p>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-right">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}?from={{ request.get_full_path }}" style="margin-right: 20px">
                                <button type="button" class="btn btn-default" style="background-color: #ccc">登录</button>
                            </a>
                            <a href="{% url 'register' %}?from={{ request.get_full_path }}">
                                <button type="button" class="btn btn-default" style="background-color: #ccc">注册</button>
                            </a>
                        {% else %}
                            <div style="margin-top: 8px;">
                                欢迎你，
                                <a href="{% url 'user_info' %}" style="color: white">
                                    {% if user.nickname == '' %}
                                        {{ user.username }}
                                    {% else %}
                                        {{ user.nickname }}
                                    {% endif %}
                                </a>&nbsp;&nbsp;
                                <a href="{% url 'get_shelf_list' %}?group_id=1" style="color: white">藏书架</a>&nbsp;&nbsp;
                                <a href="{% url 'logout' %}?from={{ request.get_full_path }}" style="color: white">注销</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div>
            <p class="site-logo">
                <a href="{% url 'home' %}" title="清新小说">
                    <img src="{% static 'image/logo-medium.png' %}" alt="清新小说 - logo">
                </a>
                <form action="{% url 'get_novel_by_name' %}" method="post">
                    {% csrf_token %}
                    <input id="bookname" type="text" name="bookname">
                    <input id="image-serch" type="submit" value="">
                </form>
            </p>
            <div class="site-search">
                <form action="" method="get">

                </form>
            </div>
        </div>
        <div id="channel-header" class="clearfix">
            <div class="channel-header-wrapper">
                <div class="channel-logo">
                    <a href="{% url 'home' %}" title="清新网">清新网</a>
                </div>
            </div>
            <nav class="channel-nav">
                <ul class="channel-nav-list">
                    {% for type in types %}
                        <li>
                            <a href="{% url 'get_novel_of_type' type.pk %}">{{ type.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- 主体 -->
    <div class="tbody">
        {% block content %}{% endblock %}
    </div>
    {% block script_extends %}{% endblock %}
</body>
</html>

