{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <hr>
    <div class="novel_type">
        <ul class="b-all-content">
            {% for novel in novels %}
                <li>
                    <a href="{% url 'get_novel_detail' novel.pk %}" class="msgBorder">
                        <img class="img_face" onerror="this.src='http://www.quanshuwang.com/modules/article/images/nocover.jpg'" src="{{ novel.image }}" width="120" height="150">
                    </a>
                    <img class="topss" src="{% static 'image/only.png' %}">
                    <a href="{% url 'get_novel_detail' novel.pk %}" class="clearfix">{{ novel.book_name }}</a>
                    类别：<a href="{% url 'get_novel_of_type' novel.category.pk %}">{{ novel.category.name }}</a><br>
                    作者：<a href="">{{ novel.author }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
